{% extends 'base.html.twig' %}

{% block title %}IGNITE - Commandes (Admin){% endblock %}
        {% block div %}
            <div class="card mt-3">
                <div class="card-content">
                    <div class="row row-group m-0">

                        <div class="col-12 col-lg-6 col-xl-3 border-light">
                            <div class="card-body">
                                <h5>
                                    <span id="tot">
                                    </span>
                                </h5>
                                <p class="mb-0 text-white small-font">Commandes <span class="float-right"></span></p>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6 col-xl-3 border-light">
                            <div class="card-body">
                                <h5>
                                    <span id="val">
                                    </span>
                                </h5>
                                <p class="mb-0 text-white small-font">Commandes Valides <span class="float-right"></span></p>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6 col-xl-3 border-light">
                            <div class="card-body">
                                <h5>
                                    <span id="non">
                                    </span>
                                </h5>
                                <p class="mb-0 text-white small-font">Commandes Non Valides<span class="float-right"></span></p>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6 col-xl-3 border-light">
                            <div class="card-body">
                                <h5>
                                    <span id="prix">
                                    </span>
                                </h5>
                                <p class="mb-0 text-white small-font">Revenu totale<span class="float-right"></span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
<div class="row">
    <div class="col-12 col-lg-12">
        <div class="card">
            <div class="card-header" align="center"><h3>Votre Tables des Commandes</h3>
                <div class="card-action">
                    <div class="dropdown">
                        <a href="javascript:void();" class="dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown">
                            <i class="icon-options"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href='/create-pdf' target="_blank">Creer PDF Commandes</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table align-items-center table-flush table-borderless" id="table">
                    <thead>
                    <tr>
                        <th>User E-mail</th>
                        <th>Date Commande</th>
                        <th>Prix Totale</th>
                        <th>Valide/Non</th>
                        <th>Nom Produit</th>
                        <th>Valider/Annuler</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% if commandes|length==0 %}

                    Aucun element contenu dans la table Commandes ...
                    {% else %}
                    {% for commande in  commandes %}
                        <tr>
                            <td>{{ commande.user.email }}</td>
                            <td>{{ commande.datecom|date() }}</td>
                            <td>{{ commande.prixtotale }}</td>
                            <td>{{ commande.valide }}</td>
                            <td>{% for groups in commande.produit %}
                                    {{ groups.nomproduit }}
                                {% endfor %}</td>
                            <td>
                                <a href="javascript:void(0)"
                                   onclick="deletecommande({{ commande.id }})">Annuler</a>
                                <a href="{{ path('valider-commande',{'id':commande.id}) }}">Valider</a>
                            </td>
                        </tr>
                    {% endfor %}
                    {% endif %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

            <div class="card mt-3">
                <canvas id="myChart" width="400" height="150"></canvas>
            </div>



{% endblock %}