{% extends 'base.html.twig' %}

{% block title %}Categorie index{% endblock %}

{% block body %}
    <h1>Categorie index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Categorieproduit</th>
                <th>Nomcategorie</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie in categories %}
            <tr>
                <td>{{ categorie.categorieproduit }}</td>
                <td>{{ categorie.nomcategorie }}</td>
                <td>
                    <a href="{{ path('categorie_show', {'categorieproduit': categorie.categorieproduit}) }}">show</a>
                    <a href="{{ path('categorie_edit', {'categorieproduit': categorie.categorieproduit}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('categorie_new') }}">Create new</a>
{% endblock %}
